


<nav class="flex-whole-nav-bar">
    <div class="main-nav-link">
        <NavLink href="" Match="NavLinkMatch.All" style="white-space: nowrap;">Kirah Cox</NavLink>
    </div>
    <div class="nav-bar">
        <NavLink id="main-links" href="" Match="NavLinkMatch.All">About Me</NavLink>
        <NavLink id="main-links" href="resume">Resume</NavLink>
        <NavLink id="main-links" href="tables">Tables</NavLink>
        <NavLink id="main-links" href="clone">Clone</NavLink>
        <NavLink id="main-links" href="api">API</NavLink>
        <NavLink id="main-links" href="experiment">Experiment</NavLink>
        <NavLink id="main-links" href="contactme">Contact Me</NavLink>
        <NavLink id="hamburger" class="hamburger-menu" type="button">
            <svg viewBox="-0.5 0 25 25" height="2rem" width="2rem" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M2 12.32H22" stroke="#F1F0EF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M2 18.32H22" stroke="#F1F0EF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M2 6.32001H22" stroke="#F1F0EF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </NavLink>
    </div>
</nav>
<div id="hamburger-nav" class="hamburger-nav-bar">
    <NavLink href="" Match="NavLinkMatch.All">About Me</NavLink>
    <NavLink href="resume">Resume</NavLink>
    <NavLink href="tables">Tables</NavLink>
    <NavLink href="clone">Clone</NavLink>
    <NavLink href="api">API</NavLink>
    <NavLink href="experiment">Experiment</NavLink>
    <NavLink href="contactme">Contact Me</NavLink>
</div>


