


<nav class="flex-whole-nav-bar">
    <div class="main-nav-link">
        <NavLink href="" Match="NavLinkMatch.All">Kirah Cox</NavLink>
    </div>
    <div class="nav-bar">
        <NavLink href="" Match="NavLinkMatch.All">About Me</NavLink>
        <NavLink href="resume">Resume</NavLink>
        <NavLink href="tables">Tables</NavLink>
        <NavLink href="clone">Clone</NavLink>
        <NavLink href="api">API</NavLink>
        <NavLink href="experiment">Experiment</NavLink>
    </div>
</nav>


