@page "/"

<head>
    <PageTitle>About Me</PageTitle>
</head>
<body>
    <h1>About Me</h1>

    <img src="Pictures/frog.jpg" alt="Not current picture of me" id="profilePicture" class="profile-picture"/>

    <p>My name is Kirah Cox. I am currently a Software Engineering Major at Snow College. I love to play video games, I love all sorts of crafts like cross stitching,
        crocheting, and quilting, I love to bake, I love to read, and I absolutely love to hang out with my husband Cortlynd and my baby Snake Clementine.</p>

    <h3>Education Goals</h3>

    <p>I plan to get my Bachelor's degree in Software Engineering here at Snow College. I am currently a sophomore in the program and plan to graduate in the spring of 2028.</p>


</body>
<footer>
    <h4>Contact</h4>
    <p>Email: kirahanncox@gmail.com</p>
    <p>Phone: 435-314-9782</p>
</footer>

