@page "/resume"

<head>
    <PageTitle>Resume</PageTitle>
</head>

<div class="background-color-box-resume"></div>
<div class="whole-resume-page">
    <div class="main-body-resume">
        <h1 class="resume-main-header">Resume</h1>
        <div class="main-body-top">
            <div class="main-body-top-left">
                <div>
                    <h1 class="resume-headers" style="margin: 2rem;">Work History</h1>
                </div>
                <div>
                    <ul>
                        <li class="resume-content" style="margin-top: 1.5rem;">Software Engineering Teacher's Aid</li>
                        <li class="resume-content-time">Snow College | August 2025 - Present</li>
                        <li class="resume-content-descriptions">Graded assignments and helped organize and structure course content.</li>
                        <li class="resume-content-descriptions">Assisted students in creating program logic and fixing bugs.</li>
                    </ul>
                </div>
                <div class="main-body-top-horizontal-line-left"></div>
                <div>
                    <ul>
                        <li class="resume-content" style="margin-top: 4.6rem;">Records Retrieval Agent I & II & Onsite Coordinator</li>
                        <li class="resume-content-time">Cotiviti | May 2020 - November 2020 & August 2021 - August 2025</li>
                        <li class="resume-content-descriptions">Contacted medical providers to obtain records efficiently and courteously.</li>
                        <li class="resume-content-descriptions">Maintained strong relationships with facilities while ensuring timely medical records submission.</li>
                    </ul>
                </div>
                <div class="main-body-top-horizontal-line-left"></div>
                <div>
                    <ul>
                        <li class="resume-content" style="margin-top: 4.6rem;">Cashier</li>
                        <li class="resume-content-time">Walmart | May 2021 - August 2021</li>
                        <li class="resume-content-descriptions">Handled customer transactions with accuracy and professionalism.</li>
                        <li class="resume-content-descriptions">Assisted customers in locating products and maintained store coverage during breaks.</li>
                    </ul>
                </div>
                <div class="main-body-top-horizontal-line-left"></div>
                <div>
                    <ul>
                        <li class="resume-content" style="margin-top: 15rem;">Tutor</li>
                        <li class="resume-content-time">South Sanpete School District & Snow College | September 2019 - March 2020</li>
                        <li class="resume-content-descriptions">Assisted students across various subjects including Math, Science, and English.</li>
                        <li class="resume-content-descriptions">Helped students grasp challenging concepts and improve academic performance.</li>
                        <li class="resume-content-descriptions">Tailored support based on individual learning needs and progress.</li>
                    </ul>
                </div>
                <div class="main-body-top-horizontal-line-left"></div>
            </div>
            <div class="main-body-top-line-class">
                <div class="main-body-top-line" style="margin-top: 5rem;"></div>
                <div class="main-body-top-line"></div>
                <div class="main-body-top-circle"></div>
                <div class="main-body-top-line"></div>
                <div class="main-body-top-line"></div>
                <div class="main-body-top-circle"></div>
                <div class="main-body-top-line"></div>
                <div class="main-body-top-line"></div>
                <div class="main-body-top-circle"></div>
                <div class="main-body-top-line"></div>
                <div class="main-body-top-line"></div>
                <div class="main-body-top-circle"></div>
                <div class="main-body-top-line"></div>
                <div class="main-body-top-line"></div>
                <div class="main-body-top-circle"></div>
                <div class="main-body-top-line"></div>
                <div class="main-body-top-line"></div>
            </div>
            <div class="main-body-top-right">
                <div>
                    <h1 class="resume-headers" style="margin: 2rem;">Education</h1>
                </div>
                <div>
                    <ul>
                        <li class="resume-content" style="margin-top: 2.6rem;">Bachelor's of Software Engineering</li>
                        <li class="resume-content-time">Snow College | January 2025 - Present</li>
                        <li class="resume-content-descriptions">Currently working towards a bachelor degree with a major in software engineering.</li>
                    </ul>
                </div>
                <div class="main-body-top-horizontal-line-right"></div>
                <div>
                    <ul>
                        <li class="resume-content" style="margin-top: 28.8rem;">Associates of Science</li>
                        <li class="resume-content-time">Snow College | August 2019 - May 2021</li>
                        <li class="resume-content-descriptions">Graduated Summa Cum Laude for academic excellence.</li>
                    </ul>
                </div>
                <div class="main-body-top-horizontal-line-right"></div>
            </div>
        </div>
        <div class="main-body-bottom">
            <h1 class="resume-headers">Skills</h1>
            <div class="resume-content-descriptions">
                <ul>
                    <li>Organization & Detail-Oriented: Keeps projects efficient and organized while mindful of little details.</li>
                    <li>Communication: Excellent verbal and written communication; builds positive relationships via phone and email.</li>
                    <li>Leadership & Teaching: Able to guide and support others effectively.</li>
                    <li>Quick Learner: Adapts to new systems and processes rapidly.</li>
                    <li>Proficient in C#.</li>
                </ul>
            </div>
            <h1 class="resume-headers">Tools</h1>
            <div class="resume-content-descriptions">
                <ul>
                    <li>Visual Studio</li>
                    <li>Visual Studio Code</li>
                    <li>GitHub</li>
                </ul>
            </div>
            <div class="resume-button-flex">
                <a class="resume-button" href="pdfs/Resume.pdf" target="_blank">Download Resume</a>
            </div>
        </div>
    </div>
    <footer class="whole-footer">
        <div class="footer-name">
            Kirah Cox
        </div>
        <div class="social-media-logos">
            <a href="https://www.facebook.com/" target="_blank">
                <svg fill="#F1F0EF" height="4rem" width="4rem" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="icon" stroke="#F1F0EF">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                       stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-92.4 233.5h-63.9c-50.1
                    0-59.8 23.8-59.8 58.8v77.1h119.6l-15.6 120.7h-104V912H539.2V602.2H434.9V481.4h104.3v-89c0-103.3 63.1-159.6 155.3-159.6 44.2 0 82.1 3.3 93.2 4.8v107.9z"></path>
                    </g>
                </svg>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <svg viewBox="0 0 24 24" height="4rem" width="4rem" xmlns="http://www.w3.org/2000/svg" fill="#F1F0EF">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z"></path> <path fill-rule="nonzero" d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908
                    4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772
                    1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056
                    2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25
                    1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"></path>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
                <svg fill="#F1F0EF" style="margin-top: 6px; padding-left: 7px;" height="3.25rem" width="3.25rem" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-143 145 512 512" xml:space="preserve" stroke="#F1F0EF"><g id="SVGRepo_bgCarrier"
                                                                                                                                                                                                                                                                                              stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path d="M329,145h-432c-22.1,0-40,17.9-40,40v432c0,22.1,17.9,40,40,40h432c22.1,0,40-17.9,40-40V185C369,162.9,351.1,145,329,145z M41.4,508.1H-8.5V348.4h49.9V508.1z M15.1,328.4h-0.4c-18.1,0-29.8-12.2-29.8-27.7c0-15.8,12.1-27.7,30.5-27.7
                    c18.4,0,29.7,11.9,30.1,27.7C45.6,316.1,33.9,328.4,15.1,328.4z M241,508.1h-56.6v-82.6c0-21.6-8.8-36.4-28.3-36.4 c-14.9,0-23.2,10-27,19.6c-1.4,3.4-1.2,8.2-1.2,13.1v86.3H71.8c0,0,0.7-146.4,0-159.7h56.1v25.1c3.3-11,21.2-26.6,49.8-26.6
                    c35.5,0,63.3,23,63.3,72.4V508.1z"></path> </g></svg>
            </a>
        </div>
    </footer>
</div>